# Import all packages/library.

In [159]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Preprocessing

Read the raw data file.

In [160]:
raw_df = pd.read_csv('./data/retail_sales_synthetic.csv')
df = raw_df.copy()  # Copy to ensure every change made in this code doesn't affect the raw data.

In [161]:
# It will be truncated if we printed it as df.head() or df.describe() so we can't check (see) all columns.
# In order to avoid that, we need to print it partially.
n_col = len(df.columns)

In [162]:
print('\nInitial Dataframe Head:')
print(df.head().iloc[:, :int(n_col/2)])
print(df.head().iloc[:, int(n_col/2):])

Initial Dataframe Head:
         date  store_id store_type region    city  store_area_sqft product_id  \
0  2024-09-05  store_09          C   East  city_9             2287   prod_031
1  2022-10-24  store_02          C   East  city_2             2627   prod_041
2  2023-04-19  store_06          B   West  city_6             2547   prod_022
3  2024-06-22  store_06          B   West  city_6             2547   prod_037
4  2024-07-20  store_02          C   East  city_2             2627   prod_018

   category  base_price  final_price  discount_pct
0      Home       43.01        43.33           0.0
1    Sports      121.31        86.51          30.0
2  Clothing       11.10        11.05           0.0
3    Beauty      272.28       284.06           0.0
4      Home       56.11        56.58           0.0
   promotion  is_holiday  day_of_week  weekend  units_sold  returns  \
0          0           0            3        0           8        1
1          0           1            0        0           5        0
2          0           0            2        0           2        0
3          0           0            5        1           2        1
4          0           0            5        1           2        0

   net_units  revenue  net_revenue  avg_rating  online
0          7   346.65       303.32        3.41       1
1          5   432.56       432.56        3.59       0
2          2    22.09        22.09        3.86       0
3          1   568.12       284.06        4.71       0
4          2   113.16       113.16        3.86       0

In [163]:
# Check the raw data information before preprocessing.
print('\nInitial Dataframe Information:')
print(df.info())

Initial Dataframe Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164400 entries, 0 to 164399
Data columns (total 22 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   date             164400 non-null  object
 1   store_id         164400 non-null  object
 2   store_type       164400 non-null  object
 3   region           164400 non-null  object
 4   city             164400 non-null  object
 5   store_area_sqft  164400 non-null  int64
 6   product_id       164400 non-null  object
 7   category         164400 non-null  object
 8   base_price       164400 non-null  float64
 9   final_price      164400 non-null  float64
 10  discount_pct     164400 non-null  float64
 11  promotion        164400 non-null  int64
 12  is_holiday       164400 non-null  int64
 13  day_of_week      164400 non-null  int64
 14  weekend          164400 non-null  int64
 15  units_sold       164400 non-null  int64
 16  returns          164400 non-null  int64
 17  net_units        164400 non-null  int64
 18  revenue          164400 non-null  float64
 19  net_revenue      164400 non-null  float64
 20  avg_rating       164400 non-null  float64
 21  online           164400 non-null  int64
dtypes: float64(6), int64(9), object(7)
memory usage: 27.6+ MB
None

In [164]:
# Check the current data numeric stats before preprocessing.
print('\nInitial Dataframe Numeric Stats:')
print(df.describe().iloc[:, :int(n_col/3)])
print(df.describe().iloc[:, int(n_col/3):])

Initial Dataframe Numeric Stats:
       store_area_sqft     base_price    final_price   discount_pct  \
count    164400.000000  164400.000000  164400.000000  164400.000000
mean       2440.700000      48.682199      46.781269       3.884519
std         317.638196      49.139032      47.473471       7.073051
min        1734.000000       5.800000       3.860000       0.000000
25%        2287.000000      17.750000      16.880000       0.000000
50%        2570.000000      31.030000      31.100000       0.000000
75%        2611.000000      59.100000      56.670000       5.000000
max        2904.000000     272.280000     293.690000      30.000000

           promotion     is_holiday    day_of_week
count  164400.000000  164400.000000  164400.000000
mean        0.079453       0.013686       3.000000
std         0.270445       0.116185       2.002286
min         0.000000       0.000000       0.000000
25%         0.000000       0.000000       1.000000
50%         0.000000       0.000000       3.000000
75%         0.000000       0.000000       5.000000
max         1.000000       1.000000       6.000000
             weekend     units_sold        returns      net_units  \
count  164400.000000  164400.000000  164400.000000  164400.000000
mean        0.286496       4.173650       0.083680       4.089970
std         0.452125       2.459849       0.290124       2.428308
min         0.000000       0.000000       0.000000       0.000000
25%         0.000000       2.000000       0.000000       2.000000
50%         0.000000       4.000000       0.000000       4.000000
75%         1.000000       6.000000       0.000000       5.000000
max         1.000000      27.000000       3.000000      27.000000

             revenue    net_revenue     avg_rating         online
count  164400.000000  164400.000000  164400.000000  164400.000000
mean      192.050357     188.190366       3.968690       0.249957
std       242.874412     238.727862       0.400809       0.432989
min         0.000000       0.000000       1.980000       0.000000
25%        54.060000      52.930000       3.700000       0.000000
50%       114.270000     112.020000       3.970000       0.000000
75%       233.120000     228.262500       4.240000       0.000000
max      3765.810000    3466.290000       5.000000       1.000000

As shown above, the data is already clean and ready to use.

# EDA (Exploratory Data Analysis)

## 1. Does the presence of holiday affect overall sales and revenue, both daily and monthly?

Get the necessary columns from the preprocessed data.

In [165]:
# Each rows are proven unique by the previous step so we can exclude the ID columns in this section.
# Copy to ensure every change made in this section doesn't affect the main data.
df_1 = df[['date','is_holiday','net_units','net_revenue']].copy()
print(df_1.head())

         date  is_holiday  net_units  net_revenue
0  2024-09-05           0          7       303.32
1  2022-10-24           1          5       432.56
2  2023-04-19           0          2        22.09
3  2024-06-22           0          1       284.06
4  2024-07-20           0          2       113.16

### Holiday Effect Towards Daily Sales and Revenue

Sum sales (units) and revenue of all stores and products each day.

In [166]:
df_1 = df_1.groupby(df_1['date']).sum()
# The above line will sum all data except `date` so `is_holiday` were also summed.
# However, `is_holiday` is conditional data and is more suitable to represent as binary in a day-by-day data.
df_1.loc[df_1['is_holiday'] > 0, 'is_holiday'] = 1
print(df_1.head())

            is_holiday  net_units  net_revenue
date
2022-01-01           0        633     32625.87
2022-01-02           0        636     31625.80
2022-01-03           0        574     30254.72
2022-01-04           0        532     26296.65
2022-01-05           0        568     25624.26

Find the correlation coefficients between variables (`is_holiday`, `net_units`, and `net_revenue`) to analyze the effect of holiday to daily sales and revenue.

In [167]:
corr_1_1 = df_1[['is_holiday', 'net_units', 'net_revenue']].corr()
print(corr_1_1)

             is_holiday  net_units  net_revenue
is_holiday     1.000000   0.169136     0.141445
net_units      0.169136   1.000000     0.919873
net_revenue    0.141445   0.919873     1.000000

Based on the results, the presence of holiday doesn't significantly affect the overall daily sales and revenue.

### Holiday Effect Towards Monthly Sales and Revenue

Every dates in the current data are already unique so we can erase the day in the `date` data to support monthly-based analysis process.

In [168]:
df_1.index = df_1.index.astype(str).str.replace(r'-\d{2}$', '', regex=True)
print(df_1.head())

         is_holiday  net_units  net_revenue
date
2022-01           0        633     32625.87
2022-01           0        636     31625.80
2022-01           0        574     30254.72
2022-01           0        532     26296.65
2022-01           0        568     25624.26

Group (sum) the numeric data based on `date` to earn monthly net sales and revenue.

In [169]:
df_1 = df_1.groupby(df_1.index).sum()
# In this section, `is_holiday` is no longer conditional and is expected to be summed as a representation for total holiday-days in a month.
print(df_1.head())

         is_holiday  net_units  net_revenue
date
2022-01           1      18498    860972.53
2022-02           0      16240    743945.03
2022-03           1      18163    833257.90
2022-04           0      17575    830541.04
2022-05           0      18032    811823.17

Find the correlation coefficients between variables (`is_holiday`, `net_units`, and `net_revenue`).

In [170]:
corr_1_2 = df_1[['is_holiday', 'net_units', 'net_revenue']].corr()
print(corr_1_2)

             is_holiday  net_units  net_revenue
is_holiday     1.000000   0.218785     0.222019
net_units      0.218785   1.000000     0.994426
net_revenue    0.222019   0.994426     1.000000

Based on the results, the presence of holiday doesn't significantly affect the overall monthly sales and revenue. However, the effect shows more than the daily analysis in the previous section.

## 2. Is there any change in product's category trend during no-holiday months and holiday months?

Get the necessary columns from the preprocessed data.

In [171]:
# Each rows are proven unique by the previous step so we can exclude the ID columns in this section.
# Copy to ensure every change made in this section doesn't affect the main data.
df_2 = df[['date','is_holiday','category','net_units']].copy()
print(df_2.head())

         date  is_holiday  category  net_units
0  2024-09-05           0      Home          7
1  2022-10-24           1    Sports          5
2  2023-04-19           0  Clothing          2
3  2024-06-22           0    Beauty          1
4  2024-07-20           0      Home          2

Every dates in the current data are already uniquely paired with each category so we can erase the day in the `date` data to support monthly-based analysis process.

In [172]:
df_2['date'] = df_2['date'].astype(str).str.replace(r'-\d{2}$', '', regex=True)
print(df_2.head())

      date  is_holiday  category  net_units
0  2024-09           0      Home          7
1  2022-10           1    Sports          5
2  2023-04           0  Clothing          2
3  2024-06           0    Beauty          1
4  2024-07           0      Home          2

Count `net_units` by month and product's category while keeping the `is_holiday` properties.

In [173]:
df_2 = df_2.groupby(['date', 'category'], as_index=False)[['is_holiday','net_units']].sum()
# The above line will sum `is_holiday` and `net_units` data based on unique pairs of `date` and `category`.
# However, in this section, we need `is_holiday` as a conditional data so it is more suitable to represent as binary.
df_2.loc[df_2['is_holiday'] > 0, 'is_holiday'] = 1
print(df_2.head())

      date     category  is_holiday  net_units
0  2022-01       Beauty           1       1670
1  2022-01     Clothing           1       6177
2  2022-01  Electronics           1       3936
3  2022-01         Home           1       5372
4  2022-01       Sports           1       1343

Only returns the highest sales product's category for each month.

In [174]:
df_2 = df_2.loc[df_2.groupby('date')['net_units'].idxmax()]
print(df_2.head())

       date  category  is_holiday  net_units
1   2022-01  Clothing           1       6177
6   2022-02  Clothing           0       5343
11  2022-03  Clothing           1       6203
16  2022-04  Clothing           0       6069
21  2022-05  Clothing           0       6079

Only returns the mode of the highest sales product's category across all of the no-holiday months and all of the holiday months.

In [175]:
df_2 = df_2.groupby('is_holiday')['category'].agg(lambda x: x.mode()[0])
print(df_2.head())

is_holiday
0    Clothing
1    Clothing
Name: category, dtype: object

As seen in the two latest dataframes, there's no change in product's category trend during no-holiday months and holiday months. Both product's category trends are clothing.

## 3. Does the weekend status affect overall daily sales and revenue?

Get the necessary columns from the preprocessed data.

In [176]:
# Each rows are proven unique by the previous step so we can exclude the ID columns in this section.
# Copy to ensure every change made in this section doesn't affect the main data.
df_3 = df[['date','weekend','net_units','net_revenue']].copy()
print(df_3.head())

         date  weekend  net_units  net_revenue
0  2024-09-05        0          7       303.32
1  2022-10-24        0          5       432.56
2  2023-04-19        0          2        22.09
3  2024-06-22        1          1       284.06
4  2024-07-20        1          2       113.16

Sum sales (units) and revenue of all stores and products each day.

In [177]:
df_3 = df_3.groupby(df_3['date']).sum()
# The above line will sum all data except `date` so `weekend` were also summed.
# However, `weekend` is conditional data and is more suitable to represent as binary in a day-by-day data.
df_3.loc[df_3['weekend'] > 0, 'weekend'] = 1
print(df_3.head())

            weekend  net_units  net_revenue
date
2022-01-01        1        633     32625.87
2022-01-02        1        636     31625.80
2022-01-03        0        574     30254.72
2022-01-04        0        532     26296.65
2022-01-05        0        568     25624.26

Find the correlation coefficients between variables (`weekend`, `net_units`, and `net_revenue`) to analyze the effect of weekend to daily sales and revenue.

In [186]:
corr_2 = df_3[['weekend', 'net_units', 'net_revenue']].corr()
print(corr_2)

              weekend  net_units  net_revenue
weekend      1.000000   0.511264     0.462136
net_units    0.511264   1.000000     0.919873
net_revenue  0.462136   0.919873     1.000000

Based on the results, the weekend status quite significantly affect the overall daily sales and revenue.

## 4. How is the overall day-by-day sales and revenue trend during a week?

Get the necessary columns from the preprocessed data.

In [184]:
# Each rows are proven unique by the previous step so we can exclude the ID columns in this section.
# Because this section analyze day or `day_of_week` instead of `date`, we can also exclide the `date` column.
# Copy to ensure every change made in this section doesn't affect the main data.
df_4 = df[['day_of_week','net_units','net_revenue']].copy()
print(df_4.head())

   day_of_week  net_units  net_revenue
0            3          7       303.32
1            0          5       432.56
2            2          2        22.09
3            5          1       284.06
4            5          2       113.16

Find the average values of sales and revenue for each day of the week.

In [185]:
df_4 = df_4.groupby(df_4['day_of_week']).mean()
print(df_4)

             net_units  net_revenue
day_of_week
0             3.825563   177.054874
1             3.819278   175.540487
2             3.849615   176.279568
3             3.831197   175.841911
4             3.873120   178.832584
5             4.691125   214.380471
6             4.735329   219.188544

The result shows that, during the weekend, the sales and revenue were higher. This shows a consistent result between this section and previous section, the weekend status quite significantly affect the overall daily sales and revenue.

## 5. Does the store type and area affect the customer experiences, which lead to store's sales and revenue?

Get the necessary columns from the preprocessed data.

In [196]:
# Each rows are proven unique by the previous step so we can exclude the `date` and ID columns in this section.
# Copy to ensure every change made in this section doesn't affect the main data.
df_5 = df[['store_type','store_area_sqft','avg_rating','net_units','net_revenue']].copy()
print(df_5.head())

  store_type  store_area_sqft  avg_rating  net_units  net_revenue
0          C             2287        3.41          7       303.32
1          C             2627        3.59          5       432.56
2          B             2547        3.86          2        22.09
3          B             2547        4.71          1       284.06
4          C             2627        3.86          2       113.16

Find the average values of customer experiences, sales, and revenue for each store type and area.

In [197]:
df_5 = df_5.groupby(['store_type', 'store_area_sqft'], as_index=False)[['avg_rating','net_units','net_revenue']].mean()
print(df_5)

  store_type  store_area_sqft  avg_rating  net_units  net_revenue
0          A             1734    3.972809   4.283577   196.241209
1          A             2593    3.964456   4.324088   200.346071
2          A             2596    3.968857   4.059367   186.223064
3          B             2547    3.965058   3.888564   175.711395
4          C             2055    3.968860   4.095438   190.132041
5          C             2287    3.968108   3.859124   178.184290
6          C             2453    3.968673   4.051886   186.245386
7          C             2611    3.970072   3.870073   177.580783
8          C             2627    3.965832   4.363808   202.385544
9          C             2904    3.974178   4.103771   188.853874

### Store Type Effect Towards Average Customer Experiences, Sales, and Revenue

Find the average values of customer experiences, sales, and revenue for each store type only.

In [200]:
df_5_type = df_5.drop(columns='store_area_sqft').copy()
df_5_type = df_5_type.groupby(df_5_type['store_type']).mean()
print(df_5_type)

            avg_rating  net_units  net_revenue
store_type
A             3.968707   4.222344   194.270115
B             3.965058   3.888564   175.711395
C             3.969287   4.057350   187.230320

The result above shows that store type, though it doesn't significantly affect customer experiences, quite significantly affect store's sales and revenue. Store type C has the highest rank, but store type A has the highest net sales and revenue.

### Store Area (in sqft) Effect Towards Average Customer Experiences, Sales, and Revenue

Find the correlation coefficients between `store_area_sqft`, `avg_rating`, `net_units`, and `net_revenue`.

In [201]:
df_5_area = df_5[['store_area_sqft', 'avg_rating', 'net_units', 'net_revenue']].corr()
print(df_5_area)

                 store_area_sqft  avg_rating  net_units  net_revenue
store_area_sqft         1.000000   -0.174085  -0.132697    -0.125751
avg_rating             -0.174085    1.000000  -0.065062    -0.070525
net_units              -0.132697   -0.065062   1.000000     0.990896
net_revenue            -0.125751   -0.070525   0.990896     1.000000

The result above shows that store area doesn't significantly affect either customer experiences, sales, nor revenue. However, it shows a unique correlation which a bigger store area results to a lower rating, sales, and revenue. In addition, surprisingly, customer experiences also doesn't significantly affect either sales nor revenue and is on negative correlation, which means a higher rating results to lower sales and revenue.

## 6. Which category of product is the most popular in each city month-by-month?

Get the necessary columns from the preprocessed data.

In [217]:
# Each rows are proven unique by the previous step so we can exclude the `date` and ID columns in this section.
# Copy to ensure every change made in this section doesn't affect the main data.
df_6 = df[['date','city','category','net_units']].copy()
print(df_6.head())

         date    city  category  net_units
0  2024-09-05  city_9      Home          7
1  2022-10-24  city_2    Sports          5
2  2023-04-19  city_6  Clothing          2
3  2024-06-22  city_6    Beauty          1
4  2024-07-20  city_2      Home          2

Every dates in the current data are already uniquely paired with each category so we can erase the day in the `date` data to support monthly-based analysis process.

In [218]:
df_6['date'] = df_6['date'].astype(str).str.replace(r'-\d{2}$', '', regex=True)
print(df_6)

           date    city  category  net_units
0       2024-09  city_9      Home          7
1       2022-10  city_2    Sports          5
2       2023-04  city_6  Clothing          2
3       2024-06  city_6    Beauty          1
4       2024-07  city_2      Home          2
...         ...     ...       ...        ...
164395  2024-03  city_2    Sports          6
164396  2023-11  city_3      Home          2
164397  2024-05  city_6      Home          4
164398  2024-09  city_2    Sports          1
164399  2024-03  city_1    Beauty          5

[164400 rows x 4 columns]

Count `net_units` by month and product's category while keeping the `city` data.

In [219]:
df_6 = df_6.groupby(['date', 'category','city'], as_index=False)[['net_units']].sum()
# The above line will sum `net_units` data based on unique pairs of `date`, `category`, and 'city'.
print(df_6.head())

      date category     city  net_units
0  2022-01   Beauty   city_1        176
1  2022-01   Beauty  city_10        151
2  2022-01   Beauty   city_2        150
3  2022-01   Beauty   city_3        163
4  2022-01   Beauty   city_4        181

Separate data by city to support city-based analysis process.

In [222]:
df_6_1 = df_6[df_6['city'] == 'city_1'].drop(columns='city')
print('City 1:\n',df_6_1.head())
df_6_2 = df_6[df_6['city'] == 'city_2'].drop(columns='city')
print('City 2:\n',df_6_2.head())
df_6_3 = df_6[df_6['city'] == 'city_3'].drop(columns='city')
print('City 3:\n',df_6_3.head())
df_6_4 = df_6[df_6['city'] == 'city_4'].drop(columns='city')
print('City 4:\n',df_6_4.head())
df_6_5 = df_6[df_6['city'] == 'city_5'].drop(columns='city')
print('City 5:\n',df_6_5.head())
df_6_6 = df_6[df_6['city'] == 'city_6'].drop(columns='city')
print('City 6:\n',df_6_6.head())
df_6_7 = df_6[df_6['city'] == 'city_7'].drop(columns='city')
print('City 7:\n',df_6_7.head())
df_6_8 = df_6[df_6['city'] == 'city_8'].drop(columns='city')
print('City 8:\n',df_6_8.head())
df_6_9 = df_6[df_6['city'] == 'city_9'].drop(columns='city')
print('City 9:\n',df_6_9.head())
df_6_10 = df_6[df_6['city'] == 'city_10'].drop(columns='city')
print('City 10:\n',df_6_10.head())

City 1:
        date     category  net_units
0   2022-01       Beauty        176
10  2022-01     Clothing        647
20  2022-01  Electronics        404
30  2022-01         Home        561
40  2022-01       Sports         92
City 2:
        date     category  net_units
2   2022-01       Beauty        150
12  2022-01     Clothing        678
22  2022-01  Electronics        414
32  2022-01         Home        549
42  2022-01       Sports        147
City 3:
        date     category  net_units
3   2022-01       Beauty        163
13  2022-01     Clothing        536
23  2022-01  Electronics        370
33  2022-01         Home        556
43  2022-01       Sports        121
City 4:
        date     category  net_units
4   2022-01       Beauty        181
14  2022-01     Clothing        613
24  2022-01  Electronics        339
34  2022-01         Home        510
44  2022-01       Sports        154
City 5:
        date     category  net_units
5   2022-01       Beauty        174
15  2022-01     Clothing        700
25  2022-01  Electronics        378
35  2022-01         Home        531
45  2022-01       Sports        135
City 6:
        date     category  net_units
6   2022-01       Beauty        163
16  2022-01     Clothing        528
26  2022-01  Electronics        420
36  2022-01         Home        566
46  2022-01       Sports        146
City 7:
        date     category  net_units
7   2022-01       Beauty        180
17  2022-01     Clothing        609
27  2022-01  Electronics        424
37  2022-01         Home        525
47  2022-01       Sports        187
City 8:
        date     category  net_units
8   2022-01       Beauty        197
18  2022-01     Clothing        640
28  2022-01  Electronics        383
38  2022-01         Home        528
48  2022-01       Sports        136
City 9:
        date     category  net_units
9   2022-01       Beauty        135
19  2022-01     Clothing        529
29  2022-01  Electronics        439
39  2022-01         Home        522
49  2022-01       Sports         97
City 10:
        date     category  net_units
1   2022-01       Beauty        151
11  2022-01     Clothing        697
21  2022-01  Electronics        365
31  2022-01         Home        524
41  2022-01       Sports        128

Returns the highest sales product's category for each pair of month and place.

In [236]:
df_6_1_series = df_6_1.loc[df_6_1.groupby(['date'])['net_units'].idxmax()]
print('City 1:\n',df_6_1_series)
df_6_2_series = df_6_2.loc[df_6_2.groupby(['date'])['net_units'].idxmax()]
print('\nCity 2:\n',df_6_2_series)
df_6_3_series = df_6_3.loc[df_6_3.groupby(['date'])['net_units'].idxmax()]
print('\nCity 3:\n',df_6_3_series)
df_6_4_series = df_6_4.loc[df_6_4.groupby(['date'])['net_units'].idxmax()]
print('\nCity 4:\n',df_6_4_series)
df_6_5_series = df_6_5.loc[df_6_5.groupby(['date'])['net_units'].idxmax()]
print('\nCity 5:\n',df_6_5_series)
df_6_6_series = df_6_6.loc[df_6_6.groupby(['date'])['net_units'].idxmax()]
print('\nCity 6:\n',df_6_6_series)
df_6_7_series = df_6_7.loc[df_6_7.groupby(['date'])['net_units'].idxmax()]
print('\nCity 7:\n',df_6_7_series)
df_6_8_series = df_6_8.loc[df_6_8.groupby(['date'])['net_units'].idxmax()]
print('\nCity 8:\n',df_6_8_series)
df_6_9_series = df_6_9.loc[df_6_9.groupby(['date'])['net_units'].idxmax()]
print('\nCity 9:\n',df_6_9_series)
df_6_10_series = df_6_10.loc[df_6_10.groupby(['date'])['net_units'].idxmax()]
print('\nCity 10:\n',df_6_10_series)

City 1:
          date  category  net_units
10    2022-01  Clothing        647
60    2022-02  Clothing        579
110   2022-03  Clothing        697
160   2022-04  Clothing        625
210   2022-05  Clothing        571
260   2022-06  Clothing        530
310   2022-07  Clothing        531
360   2022-08  Clothing        633
410   2022-09  Clothing        632
460   2022-10  Clothing        639
510   2022-11  Clothing        871
560   2022-12  Clothing        860
610   2023-01  Clothing        661
660   2023-02  Clothing        573
710   2023-03  Clothing        575
760   2023-04  Clothing        609
810   2023-05  Clothing        558
860   2023-06  Clothing        551
910   2023-07  Clothing        588
960   2023-08  Clothing        561
1010  2023-09  Clothing        578
1060  2023-10  Clothing        623
1130  2023-11      Home        719
1180  2023-12      Home        916
1210  2024-01  Clothing        596
1260  2024-02  Clothing        529
1310  2024-03  Clothing        622
1360  2024-04  Clothing        608
1410  2024-05  Clothing        658
1460  2024-06  Clothing        509
1510  2024-07  Clothing        644
1580  2024-08      Home        557
1610  2024-09  Clothing        584
1660  2024-10  Clothing        629
1710  2024-11  Clothing        852
1760  2024-12  Clothing        844

City 2:
          date  category  net_units
12    2022-01  Clothing        678
62    2022-02  Clothing        566
112   2022-03  Clothing        644
162   2022-04  Clothing        670
212   2022-05  Clothing        732
262   2022-06  Clothing        554
312   2022-07  Clothing        655
362   2022-08  Clothing        579
412   2022-09  Clothing        696
462   2022-10  Clothing        690
512   2022-11  Clothing        912
562   2022-12  Clothing        966
612   2023-01  Clothing        718
662   2023-02  Clothing        583
712   2023-03  Clothing        684
762   2023-04  Clothing        646
812   2023-05  Clothing        749
882   2023-06      Home        546
912   2023-07  Clothing        599
962   2023-08  Clothing        595
1032  2023-09      Home        660
1062  2023-10  Clothing        631
1112  2023-11  Clothing        829
1162  2023-12  Clothing        930
1212  2024-01  Clothing        670
1262  2024-02  Clothing        585
1312  2024-03  Clothing        716
1362  2024-04  Clothing        673
1412  2024-05  Clothing        649
1462  2024-06  Clothing        622
1512  2024-07  Clothing        644
1562  2024-08  Clothing        691
1612  2024-09  Clothing        630
1662  2024-10  Clothing        671
1712  2024-11  Clothing        827
1782  2024-12      Home        947

City 3:
          date  category  net_units
33    2022-01      Home        556
63    2022-02  Clothing        459
113   2022-03  Clothing        539
163   2022-04  Clothing        561
233   2022-05      Home        514
283   2022-06      Home        504
313   2022-07  Clothing        520
363   2022-08  Clothing        570
413   2022-09  Clothing        613
463   2022-10  Clothing        593
513   2022-11  Clothing        788
563   2022-12  Clothing        839
613   2023-01  Clothing        511
663   2023-02  Clothing        527
733   2023-03      Home        561
763   2023-04  Clothing        570
813   2023-05  Clothing        587
863   2023-06  Clothing        571
913   2023-07  Clothing        518
963   2023-08  Clothing        560
1013  2023-09  Clothing        596
1063  2023-10  Clothing        622
1113  2023-11  Clothing        721
1183  2023-12      Home        788
1213  2024-01  Clothing        560
1263  2024-02  Clothing        584
1313  2024-03  Clothing        586
1363  2024-04  Clothing        635
1413  2024-05  Clothing        603
1463  2024-06  Clothing        567
1513  2024-07  Clothing        511
1583  2024-08      Home        512
1613  2024-09  Clothing        578
1663  2024-10  Clothing        531
1713  2024-11  Clothing        764
1763  2024-12  Clothing        769

City 4:
          date  category  net_units
14    2022-01  Clothing        613
64    2022-02  Clothing        523
114   2022-03  Clothing        651
164   2022-04  Clothing        604
214   2022-05  Clothing        709
264   2022-06  Clothing        552
334   2022-07      Home        595
364   2022-08  Clothing        614
434   2022-09      Home        526
464   2022-10  Clothing        687
514   2022-11  Clothing        862
564   2022-12  Clothing        916
614   2023-01  Clothing        679
664   2023-02  Clothing        576
714   2023-03  Clothing        565
764   2023-04  Clothing        577
814   2023-05  Clothing        645
864   2023-06  Clothing        534
934   2023-07      Home        572
964   2023-08  Clothing        571
1014  2023-09  Clothing        629
1064  2023-10  Clothing        618
1114  2023-11  Clothing        820
1164  2023-12  Clothing        844
1214  2024-01  Clothing        649
1264  2024-02  Clothing        619
1314  2024-03  Clothing        644
1364  2024-04  Clothing        608
1414  2024-05  Clothing        638
1464  2024-06  Clothing        645
1534  2024-07      Home        579
1564  2024-08  Clothing        587
1614  2024-09  Clothing        640
1664  2024-10  Clothing        685
1714  2024-11  Clothing        801
1764  2024-12  Clothing        904

City 5:
          date  category  net_units
15    2022-01  Clothing        700
85    2022-02      Home        510
115   2022-03  Clothing        693
165   2022-04  Clothing        589
215   2022-05  Clothing        640
265   2022-06  Clothing        586
315   2022-07  Clothing        592
365   2022-08  Clothing        610
415   2022-09  Clothing        642
465   2022-10  Clothing        626
515   2022-11  Clothing       1001
565   2022-12  Clothing        885
615   2023-01  Clothing        651
665   2023-02  Clothing        544
715   2023-03  Clothing        641
765   2023-04  Clothing        647
815   2023-05  Clothing        623
865   2023-06  Clothing        633
915   2023-07  Clothing        645
985   2023-08      Home        590
1015  2023-09  Clothing        607
1065  2023-10  Clothing        635
1115  2023-11  Clothing        825
1165  2023-12  Clothing        985
1215  2024-01  Clothing        615
1265  2024-02  Clothing        605
1315  2024-03  Clothing        719
1365  2024-04  Clothing        579
1415  2024-05  Clothing        625
1485  2024-06      Home        615
1515  2024-07  Clothing        608
1565  2024-08  Clothing        656
1615  2024-09  Clothing        682
1665  2024-10  Clothing        624
1715  2024-11  Clothing        979
1765  2024-12  Clothing       1005

City 6:
          date  category  net_units
36    2022-01      Home        566
86    2022-02      Home        496
136   2022-03      Home        548
166   2022-04  Clothing        566
216   2022-05  Clothing        548
266   2022-06  Clothing        643
336   2022-07      Home        551
366   2022-08  Clothing        607
416   2022-09  Clothing        583
466   2022-10  Clothing        577
516   2022-11  Clothing        841
566   2022-12  Clothing        869
616   2023-01  Clothing        657
666   2023-02  Clothing        545
716   2023-03  Clothing        683
766   2023-04  Clothing        524
816   2023-05  Clothing        604
866   2023-06  Clothing        544
936   2023-07      Home        513
966   2023-08  Clothing        563
1016  2023-09  Clothing        574
1066  2023-10  Clothing        555
1116  2023-11  Clothing        818
1166  2023-12  Clothing        814
1216  2024-01  Clothing        543
1266  2024-02  Clothing        576
1316  2024-03  Clothing        626
1366  2024-04  Clothing        535
1416  2024-05  Clothing        602
1466  2024-06  Clothing        535
1516  2024-07  Clothing        548
1586  2024-08      Home        546
1616  2024-09  Clothing        567
1666  2024-10  Clothing        587
1736  2024-11      Home        763
1786  2024-12      Home        807

City 7:
          date  category  net_units
17    2022-01  Clothing        609
67    2022-02  Clothing        537
117   2022-03  Clothing        659
167   2022-04  Clothing        630
217   2022-05  Clothing        613
287   2022-06      Home        473
317   2022-07  Clothing        609
367   2022-08  Clothing        537
417   2022-09  Clothing        587
467   2022-10  Clothing        655
517   2022-11  Clothing        888
567   2022-12  Clothing        885
617   2023-01  Clothing        636
667   2023-02  Clothing        527
737   2023-03      Home        545
767   2023-04  Clothing        613
817   2023-05  Clothing        593
867   2023-06  Clothing        561
917   2023-07  Clothing        612
967   2023-08  Clothing        625
1037  2023-09      Home        600
1067  2023-10  Clothing        595
1137  2023-11      Home        812
1167  2023-12  Clothing        795
1217  2024-01  Clothing        624
1267  2024-02  Clothing        533
1317  2024-03  Clothing        591
1367  2024-04  Clothing        585
1417  2024-05  Clothing        619
1487  2024-06      Home        551
1517  2024-07  Clothing        714
1567  2024-08  Clothing        592
1617  2024-09  Clothing        555
1667  2024-10  Clothing        636
1737  2024-11      Home        839
1767  2024-12  Clothing        894

City 8:
          date  category  net_units
18    2022-01  Clothing        640
68    2022-02  Clothing        660
118   2022-03  Clothing        648
188   2022-04      Home        530
238   2022-05      Home        664
268   2022-06  Clothing        536
318   2022-07  Clothing        556
368   2022-08  Clothing        644
418   2022-09  Clothing        710
468   2022-10  Clothing        643
518   2022-11  Clothing        912
568   2022-12  Clothing       1078
618   2023-01  Clothing        684
688   2023-02      Home        619
718   2023-03  Clothing        648
768   2023-04  Clothing        579
818   2023-05  Clothing        657
868   2023-06  Clothing        613
918   2023-07  Clothing        592
968   2023-08  Clothing        643
1018  2023-09  Clothing        572
1088  2023-10      Home        635
1118  2023-11  Clothing        919
1168  2023-12  Clothing        947
1218  2024-01  Clothing        653
1268  2024-02  Clothing        569
1338  2024-03      Home        627
1368  2024-04  Clothing        613
1418  2024-05  Clothing        562
1468  2024-06  Clothing        607
1518  2024-07  Clothing        581
1568  2024-08  Clothing        635
1618  2024-09  Clothing        616
1688  2024-10      Home        627
1718  2024-11  Clothing        884
1768  2024-12  Clothing        825

City 9:
          date  category  net_units
19    2022-01  Clothing        529
69    2022-02  Clothing        477
119   2022-03  Clothing        594
169   2022-04  Clothing        634
219   2022-05  Clothing        527
269   2022-06  Clothing        569
319   2022-07  Clothing        558
389   2022-08      Home        509
419   2022-09  Clothing        561
469   2022-10  Clothing        566
519   2022-11  Clothing        794
569   2022-12  Clothing        893
619   2023-01  Clothing        647
669   2023-02  Clothing        524
719   2023-03  Clothing        604
769   2023-04  Clothing        583
819   2023-05  Clothing        593
869   2023-06  Clothing        529
939   2023-07      Home        501
969   2023-08  Clothing        569
1019  2023-09  Clothing        506
1069  2023-10  Clothing        606
1119  2023-11  Clothing        801
1169  2023-12  Clothing        820
1219  2024-01  Clothing        599
1269  2024-02  Clothing        569
1319  2024-03  Clothing        613
1369  2024-04  Clothing        533
1419  2024-05  Clothing        608
1469  2024-06  Clothing        529
1519  2024-07  Clothing        575
1569  2024-08  Clothing        529
1619  2024-09  Clothing        569
1669  2024-10  Clothing        532
1719  2024-11  Clothing        701
1769  2024-12  Clothing        729

City 10:
          date  category  net_units
11    2022-01  Clothing        697
61    2022-02  Clothing        592
111   2022-03  Clothing        583
161   2022-04  Clothing        668
211   2022-05  Clothing        652
261   2022-06  Clothing        553
311   2022-07  Clothing        593
361   2022-08  Clothing        563
411   2022-09  Clothing        682
461   2022-10  Clothing        622
511   2022-11  Clothing        784
561   2022-12  Clothing        795
631   2023-01      Home        636
661   2023-02  Clothing        497
711   2023-03  Clothing        642
761   2023-04  Clothing        669
811   2023-05  Clothing        565
861   2023-06  Clothing        584
911   2023-07  Clothing        614
961   2023-08  Clothing        565
1011  2023-09  Clothing        610
1061  2023-10  Clothing        598
1111  2023-11  Clothing        746
1161  2023-12  Clothing        794
1211  2024-01  Clothing        638
1261  2024-02  Clothing        501
1311  2024-03  Clothing        623
1361  2024-04  Clothing        631
1411  2024-05  Clothing        601
1461  2024-06  Clothing        625
1531  2024-07      Home        513
1561  2024-08  Clothing        627
1611  2024-09  Clothing        615
1661  2024-10  Clothing        617
1711  2024-11  Clothing        827
1761  2024-12  Clothing        884

To easen the pattern analyzation process, we can group by continuous segments with the same category as below.

In [237]:
def series_group(df):
    # Ensure the dates are sorted,
    df = df.sort_values('date').reset_index(drop=True)

    # Add column to flag group and group data.
    df['group'] = (df['category'] != df['category'].shift()).cumsum()
    df_group = (
        df.groupby(['group', 'category'])
        .agg(
            start_date=('date', 'first'),
            end_date=('date', 'last'),
            total_units=('net_units', 'sum')
        )
        .reset_index()
    )

    df_group['date'] = df_group['start_date'] + ' - ' + df_group['end_date']
    df_group = df_group[['date', 'category', 'total_units']]
    return df_group

In [238]:
df_6_1_series = series_group(df_6_1_series)
print('City 1:\n',df_6_1_series)
df_6_2_series = series_group(df_6_2_series)
print('City 2:\n',df_6_2_series)
df_6_3_series = series_group(df_6_3_series)
print('City 3:\n',df_6_3_series)
df_6_4_series = series_group(df_6_4_series)
print('City 4:\n',df_6_4_series)
df_6_5_series = series_group(df_6_5_series)
print('City 5:\n',df_6_5_series)
df_6_6_series = series_group(df_6_6_series)
print('City 6:\n',df_6_6_series)
df_6_7_series = series_group(df_6_7_series)
print('City 7:\n',df_6_7_series)
df_6_8_series = series_group(df_6_8_series)
print('City 8:\n',df_6_8_series)
df_6_9_series = series_group(df_6_9_series)
print('City 9:\n',df_6_9_series)
df_6_10_series = series_group(df_6_10_series)
print('City 10:\n',df_6_10_series)

City 1:
                 date  category  total_units
0  2022-01 - 2023-10  Clothing        13692
1  2023-11 - 2023-12      Home         1635
2  2024-01 - 2024-07  Clothing         4166
3  2024-08 - 2024-08      Home          557
4  2024-09 - 2024-12  Clothing         2909
City 2:
                 date  category  total_units
0  2022-01 - 2023-05  Clothing        11722
1  2023-06 - 2023-06      Home          546
2  2023-07 - 2023-08  Clothing         1194
3  2023-09 - 2023-09      Home          660
4  2023-10 - 2024-11  Clothing         9768
5  2024-12 - 2024-12      Home          947
City 3:
                 date  category  total_units
0  2022-01 - 2022-01      Home          556
1  2022-02 - 2022-04  Clothing         1559
2  2022-05 - 2022-06      Home         1018
3  2022-07 - 2023-02  Clothing         4961
4  2023-03 - 2023-03      Home          561
5  2023-04 - 2023-11  Clothing         4745
6  2023-12 - 2023-12      Home          788
7  2024-01 - 2024-07  Clothing         4046
8  2024-08 - 2024-08      Home          512
9  2024-09 - 2024-12  Clothing         2642
City 4:
                 date  category  total_units
0  2022-01 - 2022-06  Clothing         3652
1  2022-07 - 2022-07      Home          595
2  2022-08 - 2022-08  Clothing          614
3  2022-09 - 2022-09      Home          526
4  2022-10 - 2023-06  Clothing         6041
5  2023-07 - 2023-07      Home          572
6  2023-08 - 2024-06  Clothing         7285
7  2024-07 - 2024-07      Home          579
8  2024-08 - 2024-12  Clothing         3617
City 5:
                 date  category  total_units
0  2022-01 - 2022-01  Clothing          700
1  2022-02 - 2022-02      Home          510
2  2022-03 - 2023-07  Clothing        11248
3  2023-08 - 2023-08      Home          590
4  2023-09 - 2024-05  Clothing         6195
5  2024-06 - 2024-06      Home          615
6  2024-07 - 2024-12  Clothing         4554
City 6:
                 date  category  total_units
0  2022-01 - 2022-03      Home         1610
1  2022-04 - 2022-06  Clothing         1757
2  2022-07 - 2022-07      Home          551
3  2022-08 - 2023-06  Clothing         7034
4  2023-07 - 2023-07      Home          513
5  2023-08 - 2024-07  Clothing         7289
6  2024-08 - 2024-08      Home          546
7  2024-09 - 2024-10  Clothing         1154
8  2024-11 - 2024-12      Home         1570
City 7:
                  date  category  total_units
0   2022-01 - 2022-05  Clothing         3048
1   2022-06 - 2022-06      Home          473
2   2022-07 - 2023-02  Clothing         5324
3   2023-03 - 2023-03      Home          545
4   2023-04 - 2023-08  Clothing         3004
5   2023-09 - 2023-09      Home          600
6   2023-10 - 2023-10  Clothing          595
7   2023-11 - 2023-11      Home          812
8   2023-12 - 2024-05  Clothing         3747
9   2024-06 - 2024-06      Home          551
10  2024-07 - 2024-10  Clothing         2497
11  2024-11 - 2024-11      Home          839
12  2024-12 - 2024-12  Clothing          894
City 8:
                  date  category  total_units
0   2022-01 - 2022-03  Clothing         1948
1   2022-04 - 2022-05      Home         1194
2   2022-06 - 2023-01  Clothing         5763
3   2023-02 - 2023-02      Home          619
4   2023-03 - 2023-09  Clothing         4304
5   2023-10 - 2023-10      Home          635
6   2023-11 - 2024-02  Clothing         3088
7   2024-03 - 2024-03      Home          627
8   2024-04 - 2024-09  Clothing         3614
9   2024-10 - 2024-10      Home          627
10  2024-11 - 2024-12  Clothing         1709
City 9:
                 date  category  total_units
0  2022-01 - 2022-07  Clothing         3888
1  2022-08 - 2022-08      Home          509
2  2022-09 - 2023-06  Clothing         6294
3  2023-07 - 2023-07      Home          501
4  2023-08 - 2024-12  Clothing        10388
City 10:
                 date  category  total_units
0  2022-01 - 2022-12  Clothing         7784
1  2023-01 - 2023-01      Home          636
2  2023-02 - 2024-06  Clothing        10503
3  2024-07 - 2024-07      Home          513
4  2024-08 - 2024-12  Clothing         3570

As shown above, each city varies in trend and interest over the months. However, the top product's category across those months and cities are always whether **Clothing** or **Home**.

## 7. How does discount percentages on products affect store's sales and revenue?

Get the necessary columns from the preprocessed data.

In [254]:
# Each rows are proven unique by the previous step so we can exclude the `date` in this section.
# Discount percentage applies to one specific product and the product is not always on discount.
# Therefore, we need to include product ID data and analyze the effect for each product
# Copy to ensure every change made in this section doesn't affect the main data.
df_7 = df[['product_id','discount_pct','net_units','net_revenue']].copy()
print(df_7.head())

  product_id  discount_pct  net_units  net_revenue
0   prod_031           0.0          7       303.32
1   prod_041          30.0          5       432.56
2   prod_022           0.0          2        22.09
3   prod_037           0.0          1       284.06
4   prod_018           0.0          2       113.16

Separate data by product ID to support product-based analysis process.

In [255]:
# Sort data first for neat visuals.
df_7 = df_7.sort_values('product_id').reset_index(drop=True)

disc_dfs = {}

for prod_id in df_7['product_id'].unique():
    df_disc = df_7[df_7['product_id'] == prod_id].drop(columns='product_id')
    disc_dfs[prod_id] = df_disc

In [256]:
# Output examples.
print('prod_031:\n',disc_dfs['prod_031'].head())
print('prod_041:\n',disc_dfs['prod_041'].head())
print('prod_022:\n',disc_dfs['prod_022'].head())

prod_031:
        discount_pct  net_units  net_revenue
98618           0.0          1        44.42
98619           0.0          5       214.38
98620           0.0          4       173.08
98621           0.0         10       429.38
98622           0.0          4       177.32
prod_041:
         discount_pct  net_units  net_revenue
131632          30.0          4       344.74
131633           0.0          3       364.89
131634           0.0          3       366.98
131635           0.0          2       247.80
131636          15.0          3       314.60
prod_022:
        discount_pct  net_units  net_revenue
68855           0.0          6        66.35
68856           0.0          4        44.94
68857           5.0          1        10.55
68858           0.0          3        35.00
68859           0.0          6        66.67

Find the correlation coefficients between `discount_pct`, `net_units`, and `net_revenue` for each product.

In [266]:
for prod_id, df_disc in disc_dfs.items():
    df_disc = df_disc[['discount_pct', 'net_units', 'net_revenue']].corr()
    print('\n',prod_id,':\n',df_disc)

 prod_001 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.023069    -0.122153
net_units         0.023069   1.000000     0.985899
net_revenue      -0.122153   0.985899     1.000000

 prod_002 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.053468    -0.060733
net_units         0.053468   1.000000     0.989991
net_revenue      -0.060733   0.989991     1.000000

 prod_003 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.020858    -0.111075
net_units         0.020858   1.000000     0.987651
net_revenue      -0.111075   0.987651     1.000000

 prod_004 :
               discount_pct  net_units  net_revenue
discount_pct       1.00000   0.045510    -0.093370
net_units          0.04551   1.000000     0.986788
net_revenue       -0.09337   0.986788     1.000000

 prod_005 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.014563    -0.130000
net_units         0.014563   1.000000     0.986114
net_revenue      -0.130000   0.986114     1.000000

 prod_006 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.047881    -0.089490
net_units         0.047881   1.000000     0.986934
net_revenue      -0.089490   0.986934     1.000000

 prod_007 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.020116    -0.124053
net_units         0.020116   1.000000     0.985903
net_revenue      -0.124053   0.985903     1.000000

 prod_008 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.012317    -0.107605
net_units         0.012317   1.000000     0.989582
net_revenue      -0.107605   0.989582     1.000000

 prod_009 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.013095    -0.109701
net_units         0.013095   1.000000     0.988962
net_revenue      -0.109701   0.988962     1.000000

 prod_010 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.035078    -0.106064
net_units         0.035078   1.000000     0.986021
net_revenue      -0.106064   0.986021     1.000000

 prod_011 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.016637    -0.131202
net_units         0.016637   1.000000     0.985155
net_revenue      -0.131202   0.985155     1.000000

 prod_012 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.043672    -0.096125
net_units         0.043672   1.000000     0.986562
net_revenue      -0.096125   0.986562     1.000000

 prod_013 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.014195    -0.114220
net_units         0.014195   1.000000     0.988579
net_revenue      -0.114220   0.988579     1.000000

 prod_014 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.001774    -0.105711
net_units         0.001774   1.000000     0.990971
net_revenue      -0.105711   0.990971     1.000000

 prod_015 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.051081    -0.081228
net_units         0.051081   1.000000     0.987699
net_revenue      -0.081228   0.987699     1.000000

 prod_016 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.000954    -0.128086
net_units         0.000954   1.000000     0.988110
net_revenue      -0.128086   0.988110     1.000000

 prod_017 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.012232    -0.100481
net_units         0.012232   1.000000     0.990047
net_revenue      -0.100481   0.990047     1.000000

 prod_018 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.000178    -0.125196
net_units         0.000178   1.000000     0.988175
net_revenue      -0.125196   0.988175     1.000000

 prod_019 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.019449    -0.108568
net_units         0.019449   1.000000     0.988321
net_revenue      -0.108568   0.988321     1.000000

 prod_020 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.024130    -0.113098
net_units         0.024130   1.000000     0.986861
net_revenue      -0.113098   0.986861     1.000000

 prod_021 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   -0.00333    -0.132176
net_units        -0.003330    1.00000     0.988420
net_revenue      -0.132176    0.98842     1.000000

 prod_022 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.008804    -0.120881
net_units         0.008804   1.000000     0.988153
net_revenue      -0.120881   0.988153     1.000000

 prod_023 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.046286    -0.104843
net_units         0.046286   1.000000     0.984678
net_revenue      -0.104843   0.984678     1.000000

 prod_024 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.021287     -0.10196
net_units         0.021287   1.000000      0.98856
net_revenue      -0.101960   0.988560      1.00000

 prod_025 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.006572    -0.111500
net_units         0.006572   1.000000     0.989658
net_revenue      -0.111500   0.989658     1.000000

 prod_026 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000  -0.017004    -0.126532
net_units        -0.017004   1.000000     0.990569
net_revenue      -0.126532   0.990569     1.000000

 prod_027 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.008412    -0.105466
net_units         0.008412   1.000000     0.990631
net_revenue      -0.105466   0.990631     1.000000

 prod_028 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.034894    -0.103595
net_units         0.034894   1.000000     0.986638
net_revenue      -0.103595   0.986638     1.000000

 prod_029 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.016093    -0.113204
net_units         0.016093   1.000000     0.988206
net_revenue      -0.113204   0.988206     1.000000

 prod_030 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.060496    -0.084309
net_units         0.060496   1.000000     0.985362
net_revenue      -0.084309   0.985362     1.000000

 prod_031 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.025978    -0.105714
net_units         0.025978   1.000000     0.987183
net_revenue      -0.105714   0.987183     1.000000

 prod_032 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.034961    -0.082813
net_units         0.034961   1.000000     0.989762
net_revenue      -0.082813   0.989762     1.000000

 prod_033 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.037582    -0.093033
net_units         0.037582   1.000000     0.987905
net_revenue      -0.093033   0.987905     1.000000

 prod_034 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.024130    -0.124176
net_units         0.024130   1.000000     0.985348
net_revenue      -0.124176   0.985348     1.000000

 prod_035 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.033363    -0.104047
net_units         0.033363   1.000000     0.986570
net_revenue      -0.104047   0.986570     1.000000

 prod_036 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000  -0.023289    -0.144273
net_units        -0.023289   1.000000     0.989624
net_revenue      -0.144273   0.989624     1.000000

 prod_037 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.157197     0.009719
net_units         0.157197   1.000000     0.984596
net_revenue       0.009719   0.984596     1.000000

 prod_038 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.018079    -0.115755
net_units         0.018079   1.000000     0.987175
net_revenue      -0.115755   0.987175     1.000000

 prod_039 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.063848    -0.091730
net_units         0.063848   1.000000     0.983849
net_revenue      -0.091730   0.983849     1.000000

 prod_040 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.126851    -0.028338
net_units         0.126851   1.000000     0.984168
net_revenue      -0.028338   0.984168     1.000000

 prod_041 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.087665    -0.042749
net_units         0.087665   1.000000     0.987647
net_revenue      -0.042749   0.987647     1.000000

 prod_042 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.030299    -0.094962
net_units         0.030299   1.000000     0.988758
net_revenue      -0.094962   0.988758     1.000000

 prod_043 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.042200    -0.089291
net_units         0.042200   1.000000     0.987572
net_revenue      -0.089291   0.987572     1.000000

 prod_044 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.005720    -0.126086
net_units         0.005720   1.000000     0.987966
net_revenue      -0.126086   0.987966     1.000000

 prod_045 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.048948    -0.091151
net_units         0.048948   1.000000     0.986421
net_revenue      -0.091151   0.986421     1.000000

 prod_046 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.014821    -0.115922
net_units         0.014821   1.000000     0.988109
net_revenue      -0.115922   0.988109     1.000000

 prod_047 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.048686    -0.101965
net_units         0.048686   1.000000     0.984679
net_revenue      -0.101965   0.984679     1.000000

 prod_048 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.035350    -0.103671
net_units         0.035350   1.000000     0.987139
net_revenue      -0.103671   0.987139     1.000000

 prod_049 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.015325    -0.113561
net_units         0.015325   1.000000     0.988037
net_revenue      -0.113561   0.988037     1.000000

 prod_050 :
               discount_pct  net_units  net_revenue
discount_pct      1.000000   0.016530    -0.113822
net_units         0.016530   1.000000     0.988064
net_revenue      -0.113822   0.988064     1.000000

As shown above, discount percentages slightly impact sales and revenue. The higher the discount percentages, the higher the sales is. However, it is inversely proportional to the revenue.

## 8. How does product's promotion affect store's sales and revenue?

Get the necessary columns from the preprocessed data.

In [262]:
# Each rows are proven unique by the previous step so we can exclude the `date` in this section.
# Promotion applies to one specific product and the product is not always on promotion.
# Therefore, we need to include product ID data and analyze the effect for each product
# Copy to ensure every change made in this section doesn't affect the main data.
df_8 = df[['product_id','promotion','net_units','net_revenue']].copy()
print(df_8.head())

  product_id  promotion  net_units  net_revenue
0   prod_031          0          7       303.32
1   prod_041          0          5       432.56
2   prod_022          0          2        22.09
3   prod_037          0          1       284.06
4   prod_018          0          2       113.16

Separate data by product ID to support product-based analysis process.

In [263]:
# Sort data first for neat visuals.
df_8 = df_8.sort_values('product_id').reset_index(drop=True)

promo_dfs = {}

for prod_id in df_8['product_id'].unique():
    df_promo = df_8[df_8['product_id'] == prod_id].drop(columns='product_id')
    promo_dfs[prod_id] = df_promo

In [264]:
# Output examples.
print('prod_031:\n',promo_dfs['prod_031'].head())
print('prod_041:\n',promo_dfs['prod_041'].head())
print('prod_022:\n',promo_dfs['prod_022'].head())

prod_031:
        promotion  net_units  net_revenue
98618          0          1        44.42
98619          0          5       214.38
98620          0          4       173.08
98621          1         10       429.38
98622          0          4       177.32
prod_041:
         promotion  net_units  net_revenue
131632          0          4       344.74
131633          0          3       364.89
131634          0          3       366.98
131635          0          2       247.80
131636          0          3       314.60
prod_022:
        promotion  net_units  net_revenue
68855          0          6        66.35
68856          0          4        44.94
68857          0          1        10.55
68858          0          3        35.00
68859          0          6        66.67

Find the correlation coefficients between `promotion`, `net_units`, and `net_revenue` for each product.

In [267]:
for prod_id, df_promo in promo_dfs.items():
    df_promo = df_promo[['promotion', 'net_units', 'net_revenue']].corr()
    print(prod_id,':\n',df_promo)

prod_001 :
              promotion  net_units  net_revenue
promotion     1.000000   0.335476     0.328968
net_units     0.335476   1.000000     0.985899
net_revenue   0.328968   0.985899     1.000000
prod_002 :
              promotion  net_units  net_revenue
promotion     1.000000   0.302539     0.296924
net_units     0.302539   1.000000     0.989991
net_revenue   0.296924   0.989991     1.000000
prod_003 :
              promotion  net_units  net_revenue
promotion     1.000000   0.270640     0.263367
net_units     0.270640   1.000000     0.987651
net_revenue   0.263367   0.987651     1.000000
prod_004 :
              promotion  net_units  net_revenue
promotion     1.000000   0.284677     0.288223
net_units     0.284677   1.000000     0.986788
net_revenue   0.288223   0.986788     1.000000
prod_005 :
              promotion  net_units  net_revenue
promotion     1.000000   0.294855     0.290646
net_units     0.294855   1.000000     0.986114
net_revenue   0.290646   0.986114     1.000000
prod_006 :
              promotion  net_units  net_revenue
promotion     1.000000   0.315588     0.315199
net_units     0.315588   1.000000     0.986934
net_revenue   0.315199   0.986934     1.000000
prod_007 :
              promotion  net_units  net_revenue
promotion     1.000000   0.331457     0.320982
net_units     0.331457   1.000000     0.985903
net_revenue   0.320982   0.985903     1.000000
prod_008 :
              promotion  net_units  net_revenue
promotion     1.000000   0.317912     0.316168
net_units     0.317912   1.000000     0.989582
net_revenue   0.316168   0.989582     1.000000
prod_009 :
              promotion  net_units  net_revenue
promotion     1.000000   0.319652     0.319088
net_units     0.319652   1.000000     0.988962
net_revenue   0.319088   0.988962     1.000000
prod_010 :
              promotion  net_units  net_revenue
promotion     1.000000   0.269573     0.263654
net_units     0.269573   1.000000     0.986021
net_revenue   0.263654   0.986021     1.000000
prod_011 :
              promotion  net_units  net_revenue
promotion     1.000000   0.349205     0.343100
net_units     0.349205   1.000000     0.985155
net_revenue   0.343100   0.985155     1.000000
prod_012 :
              promotion  net_units  net_revenue
promotion     1.000000   0.338839     0.341751
net_units     0.338839   1.000000     0.986562
net_revenue   0.341751   0.986562     1.000000
prod_013 :
              promotion  net_units  net_revenue
promotion     1.000000   0.301914     0.298427
net_units     0.301914   1.000000     0.988579
net_revenue   0.298427   0.988579     1.000000
prod_014 :
              promotion  net_units  net_revenue
promotion     1.000000   0.245267     0.243292
net_units     0.245267   1.000000     0.990971
net_revenue   0.243292   0.990971     1.000000
prod_015 :
              promotion  net_units  net_revenue
promotion     1.000000   0.287541     0.288461
net_units     0.287541   1.000000     0.987699
net_revenue   0.288461   0.987699     1.000000
prod_016 :
              promotion  net_units  net_revenue
promotion     1.000000   0.265897     0.265744
net_units     0.265897   1.000000     0.988110
net_revenue   0.265744   0.988110     1.000000
prod_017 :
              promotion  net_units  net_revenue
promotion     1.000000   0.231409     0.234023
net_units     0.231409   1.000000     0.990047
net_revenue   0.234023   0.990047     1.000000
prod_018 :
              promotion  net_units  net_revenue
promotion     1.000000   0.315819     0.317619
net_units     0.315819   1.000000     0.988175
net_revenue   0.317619   0.988175     1.000000
prod_019 :
              promotion  net_units  net_revenue
promotion     1.000000   0.276157     0.270955
net_units     0.276157   1.000000     0.988321
net_revenue   0.270955   0.988321     1.000000
prod_020 :
              promotion  net_units  net_revenue
promotion     1.000000   0.308653     0.307423
net_units     0.308653   1.000000     0.986861
net_revenue   0.307423   0.986861     1.000000
prod_021 :
              promotion  net_units  net_revenue
promotion     1.000000    0.33447     0.327117
net_units     0.334470    1.00000     0.988420
net_revenue   0.327117    0.98842     1.000000
prod_022 :
              promotion  net_units  net_revenue
promotion     1.000000   0.279667     0.279795
net_units     0.279667   1.000000     0.988153
net_revenue   0.279795   0.988153     1.000000
prod_023 :
              promotion  net_units  net_revenue
promotion     1.000000   0.360232     0.354834
net_units     0.360232   1.000000     0.984678
net_revenue   0.354834   0.984678     1.000000
prod_024 :
              promotion  net_units  net_revenue
promotion     1.000000   0.280624     0.275136
net_units     0.280624   1.000000     0.988560
net_revenue   0.275136   0.988560     1.000000
prod_025 :
              promotion  net_units  net_revenue
promotion     1.000000   0.336101     0.333944
net_units     0.336101   1.000000     0.989658
net_revenue   0.333944   0.989658     1.000000
prod_026 :
              promotion  net_units  net_revenue
promotion     1.000000   0.304354     0.305727
net_units     0.304354   1.000000     0.990569
net_revenue   0.305727   0.990569     1.000000
prod_027 :
              promotion  net_units  net_revenue
promotion     1.000000   0.281696     0.283476
net_units     0.281696   1.000000     0.990631
net_revenue   0.283476   0.990631     1.000000
prod_028 :
              promotion  net_units  net_revenue
promotion     1.000000   0.305498     0.297471
net_units     0.305498   1.000000     0.986638
net_revenue   0.297471   0.986638     1.000000
prod_029 :
              promotion  net_units  net_revenue
promotion     1.000000   0.307524     0.305716
net_units     0.307524   1.000000     0.988206
net_revenue   0.305716   0.988206     1.000000
prod_030 :
              promotion  net_units  net_revenue
promotion     1.000000   0.298463     0.298179
net_units     0.298463   1.000000     0.985362
net_revenue   0.298179   0.985362     1.000000
prod_031 :
              promotion  net_units  net_revenue
promotion     1.000000   0.292059     0.286742
net_units     0.292059   1.000000     0.987183
net_revenue   0.286742   0.987183     1.000000
prod_032 :
              promotion  net_units  net_revenue
promotion     1.000000   0.289499     0.286230
net_units     0.289499   1.000000     0.989762
net_revenue   0.286230   0.989762     1.000000
prod_033 :
              promotion  net_units  net_revenue
promotion     1.000000   0.286138     0.284955
net_units     0.286138   1.000000     0.987905
net_revenue   0.284955   0.987905     1.000000
prod_034 :
              promotion  net_units  net_revenue
promotion     1.000000   0.357533     0.346581
net_units     0.357533   1.000000     0.985348
net_revenue   0.346581   0.985348     1.000000
prod_035 :
              promotion  net_units  net_revenue
promotion     1.000000   0.325484     0.325724
net_units     0.325484   1.000000     0.986570
net_revenue   0.325724   0.986570     1.000000
prod_036 :
              promotion  net_units  net_revenue
promotion     1.000000   0.318343     0.316933
net_units     0.318343   1.000000     0.989624
net_revenue   0.316933   0.989624     1.000000
prod_037 :
              promotion  net_units  net_revenue
promotion     1.000000   0.294536     0.301142
net_units     0.294536   1.000000     0.984596
net_revenue   0.301142   0.984596     1.000000
prod_038 :
              promotion  net_units  net_revenue
promotion     1.000000   0.305451     0.301603
net_units     0.305451   1.000000     0.987175
net_revenue   0.301603   0.987175     1.000000
prod_039 :
              promotion  net_units  net_revenue
promotion     1.000000   0.367965     0.360309
net_units     0.367965   1.000000     0.983849
net_revenue   0.360309   0.983849     1.000000
prod_040 :
              promotion  net_units  net_revenue
promotion     1.000000   0.316389     0.315303
net_units     0.316389   1.000000     0.984168
net_revenue   0.315303   0.984168     1.000000
prod_041 :
              promotion  net_units  net_revenue
promotion     1.000000   0.265211     0.266676
net_units     0.265211   1.000000     0.987647
net_revenue   0.266676   0.987647     1.000000
prod_042 :
              promotion  net_units  net_revenue
promotion     1.000000   0.284649     0.287670
net_units     0.284649   1.000000     0.988758
net_revenue   0.287670   0.988758     1.000000
prod_043 :
              promotion  net_units  net_revenue
promotion     1.000000   0.287097     0.289284
net_units     0.287097   1.000000     0.987572
net_revenue   0.289284   0.987572     1.000000
prod_044 :
              promotion  net_units  net_revenue
promotion     1.000000   0.318678     0.308332
net_units     0.318678   1.000000     0.987966
net_revenue   0.308332   0.987966     1.000000
prod_045 :
              promotion  net_units  net_revenue
promotion     1.000000   0.332791     0.334214
net_units     0.332791   1.000000     0.986421
net_revenue   0.334214   0.986421     1.000000
prod_046 :
              promotion  net_units  net_revenue
promotion     1.000000   0.274069     0.278730
net_units     0.274069   1.000000     0.988109
net_revenue   0.278730   0.988109     1.000000
prod_047 :
              promotion  net_units  net_revenue
promotion     1.000000   0.334225     0.332234
net_units     0.334225   1.000000     0.984679
net_revenue   0.332234   0.984679     1.000000
prod_048 :
              promotion  net_units  net_revenue
promotion     1.000000   0.293291     0.294989
net_units     0.293291   1.000000     0.987139
net_revenue   0.294989   0.987139     1.000000
prod_049 :
              promotion  net_units  net_revenue
promotion     1.000000   0.316664     0.317557
net_units     0.316664   1.000000     0.988037
net_revenue   0.317557   0.988037     1.000000
prod_050 :
              promotion  net_units  net_revenue
promotion     1.000000   0.304591     0.307991
net_units     0.304591   1.000000     0.988064
net_revenue   0.307991   0.988064     1.000000

As shown above, promotion slightly affects sales and revenue. However, the impact tends to be greater than the impact of discount percentages. Moreover, promotion has directly proportional relations with both sales and revenue. The presence of promotion triggers higher sales and revenue.

## 9. Does the combination of discount and promotion gives different effect to store's sales and revenue?